version: "3.9"

services:
  roc-audio-conv-builder:
    container_name: roc-audio-conv-builder
    build:
      context: ./docker
      dockerfile: Dockerfile
    image: roc-audio-conv-builder:local
    privileged: true
    tty: true
    stdin_open: true
    working_dir: /home/work
    command: /bin/bash
    volumes:
      - ./:/home/work
      - ./external/overlay:/home/work/vendor/duo-buildroot-sdk-v2/device/milkv-duos-musl-riscv64-sd/overlay
